@use 'variables' as *;

.custom-btn {
  background: $linear-gradient;
  color: $white;
  font-weight: 500;
  font-size: clamp(16px, 1vw, 18px);
  line-height: 1.6;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: clamp(8px, 1.2vw, 10px) clamp(10px, 1.5vw, 12px);
  transition: all 0.1s ease;

  &:focus, &:hover {
    box-shadow: 0 0 0 2px $white, 0 0 0 5px $primary-color;
    color: $white;
  }
}

.guide-btn {
  background: $linear-gradient;
  color: $white;
  font-weight: 500;
  font-size: clamp(16px, 1vw, 18px);
  line-height: 1.6;
  border: none;
  border-radius: 6px;
  padding: clamp(8px, 1.2vw, 10px) clamp(10px, 1.5vw, 12px);
  transition: all 0.1s ease;

  &:focus, &:hover {
    box-shadow: 0 0 0 2px $white, 0 0 0 5px $primary-color;
    color: $white;
  }
}

.background-primary {
  background-color: $primary-color;
}

.background-gray {
  background-color: $gray_black;
}

.text-primary-color {
  color: $primary-color !important
}

.custom-btn-size {
  color: $white;
  font-weight: 500;
  font-size: clamp(16px, 1vw, 18px);
  line-height: 1.6;
  border: none;
  border-radius: 6px;
  padding: clamp(8px, 1.2vw, 10px) clamp(10px, 1.5vw, 12px);
}


.custom-btn-outline-none {
  background: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: $linear-gradient;
  font-size: clamp(16px, 1vw, 18px);
  font-weight: 500;
  line-height: 1.6;
  border: 1px solid transparent;
  border-radius: clamp(4px, 0.6vw, 8px);
  width: 100%;
  padding: clamp(8px, 1.2vw, 10px) clamp(10px, 1.5vw, 12px);
  transition: all 0.4s ease;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 4px;
    padding: 1px;
    background: $linear-gradient;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &:hover {
    background: $linear-gradient;
    -webkit-text-fill-color: $white;
    color: $white;
  }
}

.btn-focus {
  &:focus {
    box-shadow: 0 0 0 2px $white, 0 0 0 5px $primary-color;
  }
}