h1.wp-block-heading {
    font-size: 28px;
}

h2.wp-block-heading {
    font-size: 25px;
}

h3.wp-block-heading {
    font-size: 22px;
}

h4.wp-block-heading {
    font-size: 20px;
}

h5.wp-block-heading {
    font-size: 18px;
}

h6.wp-block-heading {
    font-size: 16px;
}

.wp-block-separator {
    border: none;
    border-top: 1px solid #555555;
}

.has-text-align-center {
    strong {
        font-weight: 700 !important;
    }
}